<h3>TRENDING PRODUCTS</h3>
<div class="container">
<div class="row m-5 gap-3 ps-5 ">
    
<div class="card col-lg-3 col-sm-6 col-md-4 " style="width: 18rem;" *ngFor="let product of products">
    <img class="card-img-top" [src]="product.image" alt="Card image cap" style="width: 50%; height: 60%; margin-left: 20%;">
    <div class="card-body">
      <h5 class="card-title">{{product.title | slice:0:20}}</h5>
      <p class="card-text">{{product.description | slice:0:50 }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Price:</b> {{product.price}}</li>
      <li class="list-group-item"><b>Category:</b> {{product.category}}</li>
      <li class="list-group-item"><b>Rating : </b>{{product.rating}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link" [routerLink]="['Products', products.id ]">View Product</a>
      <a href="#" class="card-link">Add To Cart</a>
    </div>
  </div>
</div>
</div>