<div class="container my-5">
    <h1 class="mb-3">Music</h1>
    <table class="table" *ngIf="music && music.length > 0">
        <thead>
            <tr>               
                <th>Image</th>
                <th>Song Name</th>
                <th>Singer Name</th>
                <th>Release Year</th>
                <th>Movie Name</th>
                <th>Song Type</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
           <tr *ngFor="let musics of music">
            <td> <img [src]="musics.image" alt="{{musics.Image}}" style="height: 50px; width: 50px;"></td>
            <td>{{musics.songName}}</td>
            <td>{{musics.singerName}}</td>
            <td>{{musics.releaseYear}}</td>
            <td>{{musics.movieName}}</td>
            <td>{{musics.songType}}</td>
            <td><a [routerLink]="['edit', musics.id ]">View</a></td>







        </tr>

        </tbody>
    </table>
    <p *ngIf="!music || music.length <= 0">No musics Found</p>
</div>
