mat-sidenav-container {
    height: 100vh;
  
    mat-sidenav {
      width: 250px;
      background-color: black;
    }
  
    mat-sidenav-content {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      color: black;
  
      main {
          padding: 1rem;
        flex: 1 1 auto;
      }
    }
  }